html
    head
        title WORK
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
         script(src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js")
        style
            include ./page.css
    body
        .top-one
            .left-bar
                .switchers
                    #sw1.swb(selected="selected") Settings
                    #sw2.swb Advanced
                .left-bar-content#lbc
                    .container.visible#c1 
                        h1 Settings

                        .form.full-form
                            .form-label fin
                            input#fin(type="text", name="fin")

                        .form.full-form
                            .form-label b0
                            input#fin(type="text", name="b0")

                        .button#go go

                    .container#c2
                        h1 Advanced

            .right-bar
                .switchers
                    #sw3.swb(selected="selected") Charts
                    #sw4.swb Data table

                .right-bar-content#rbc
                    .container.visible#c3
                        .charts
                            .chart-2
                                .chart-content-4
                                    canvas#ch1
                                .chart-content-4
                                    canvas#ch2
                                .chart-content-4
                                    canvas#ch3
                                .chart-content-4
                                    canvas#ch4
                            .chart-2
                                .chart-content-2
                                    canvas#ch5
                                .chart-content-2
                                    canvas#ch6

                    .container#c4
                        h1 Data table

        script
            include ./page.js
            include ../methods/rk4.js
            include ../methods/core.js


